apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: res-edge
  labels:
    app: api
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: app
        image: ghcr.io/cse-labs/res-edge:0.14
        imagePullPolicy: Always
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 5
          failureThreshold: 10
          periodSeconds: 60
        startupProbe:
          httpGet:
            path: /readyz
            port: http
          initialDelaySeconds: 5
          failureThreshold: 60
          periodSeconds: 2
        resources:
          limits:
            memory: 1Gi
            cpu: 1000m
          requests:
            memory: 512Mi
            cpu: 500m
