apiVersion: apps/v1
kind: Deployment
metadata:
  name: webv
  namespace: res-edge
  labels:
    app.kubernetes.io/name: webv
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
       maxSurge: 1
       maxUnavailable: 1
  selector:
    matchLabels:
      app: webv
  template:
    metadata:
      labels:
        app: webv
    spec:
      containers:
        - name: app
          image: ghcr.io/cse-labs/res-edge-webv:0.14
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            failureThreshold: 10
            periodSeconds: 60
          startupProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            failureThreshold: 60
            periodSeconds: 2
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
          args:
          - --sleep
          - "100"
          - --run-loop
          - --server
          - http://api:8080
          - --files
          - load.json
          - --zone
          - dev
          - --region
          - dev
          - --log-format
          - Json
          - --verbose
